$$ \int_{1}^{2}{(2x + 1)dx} = (x^2 + x |_{1}^{2} = (6 - 2) = 4 $$

$$ 2x + 1 = t \implies dt = 2dx $$

$$ t_0 = 3; t_1 = 5 $$

$$ \int_{3}^{5}{t/2 dt} = (t^2/4|_3^5 = (6.25 - 2.25) = 4 $$

In [5]:
(5**2)/4

6.25

$$ \int_{1}^{2}{(2x)dx} = (x^2 |_{1}^{2} = 6 $$

$$ 2x = t \implies dt = 2dx $$

$$ t_0 = 3; t_1 = 5 $$

$$ \int_{3}^{5}{t/2 dt} = (t^2/4|_3^5 = (6.25 - 2.25) = 4 $$

A dictionary is a container that maps a key (any object) to a value (any object), contrary to lists which map an integer (the index) to a value (any object).

In [3]:
dictionary = {"calculus":28, "physics":30, "chemistry":25}

dictionary["laboratory"] = 27
dictionary["chemistry"] = 24

print ("Exam\t\tVote")
for k, v in dictionary.items():
    print ("{}:\t{}".format(k, v))

Exam		Vote
calculus:	28
physics:	30
chemistry:	24
laboratory:	27

In [6]:
l = [3, 5, 2, 1, 13, 5, 5, 1, 3, 4]

for i in range(len(l)):
    if l[i] == 5:
        print (i)

1
5
6

In [8]:
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

d = {}
for item in l:
    d[item[0]] = item[1]
    
print (d)

{'x': 3, 'y': 2, 'z': 1}

Note that there is just one occurrency of the key $\tt{x}$ and $\tt{y}$ because keys has to be unique and setting the same key to a different value simply overwrite the existing entry.

In [9]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

for i in range(len(l)):
    new_tuple = l[i][0:2] + (l[i][2] + 10,)
    l[i] = new_tuple
    
print (l)

[(10, 20, 50), (40, 50, 70), (70, 80, 100)]

In [22]:
l = [1, 5, "a", (1,2), {"test":1}]

number_of_items = 0
for item in l:
    if type(item) != tuple:
        number_of_items = number_of_items + 1
    else:
        break
        
print ("There are {} items before a tuple.".format(number_of_items))

There are 3 items before a tuple.

In [26]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic_tot = dict()
dic_tot.update(dic1)
dic_tot.update(dic2)
dic_tot.update(dic3)

print (dic_tot)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [28]:
dic = {"a":1, "b":2, "c":3}

print ("z" in dic)
print ("a" in dic)

False
True

In [29]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

d = {}
d.update(d1)

for k in d2.keys():
    if k in d:
        d[k] = d[k] + d2[k]
    else:
        d[k] = d2[k]

print (d)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

Input: 
```python
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
```

Input: 
```python 
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
```

Input:
```python
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
```

Input:
```python
{[1, 5, ``a'', (1,2), {``test'':1}]}
```

In [31]:
alist = [[1,2], [3,4], [5,6]]
print (alist[1][1]) # first [1] returns [3,4], second returns 4

4

In [2]:
def powers(l, n=2, c=0):
    """
a shifted power function example    
    """
    return [item**n+c for item in l]

In [3]:
help(powers)

Help on function powers in module __main__:

powers(l, n=2, c=0)
    a shifted power function example

In [13]:
a = [["a", "b", "c"],["d", "e", "f"],["g", "h", "i"]]
for i in range(3):
    for j in range(3):
        print (a[i][j])

a
b
c
d
e
f
g
h
i

In [12]:
a = [["a", "b", "c"],["d", "e", "f"],["g", "h", "i"]]
for i in range(3):
    for i in range(3):
        print (a[i][i])

a
e
i
a
e
i
a
e
i

In [4]:
import datetime
from dateutil.relativedelta import relativedelta
birthday = datetime.date(1974, 10, 20)

d = {}
for i in range(120):
    wd = ((birthday + relativedelta(years=i)).weekday())
    if wd in d.keys():
        d[wd] = d[wd] + 1
    else:
        d[wd] = 1
        
print (d)

{6: 17, 0: 18, 2: 17, 3: 17, 4: 17, 5: 17, 1: 17}

In [4]:
import pandas, datetime

observation_date = datetime.date.today()

df = pandas.read_excel('ois_data.xlsx')
df.head()

   months  quote
0       1 -0.350
1       2 -0.347
2       3 -0.348
3       4 -0.350
4       5 -0.350

In [19]:
market_quotes = {}

for i in range(len(df)):
    key = df.loc[i, 'months']
    value = df.loc[i, 'quote']
    market_quotes[key] = value
    
print (market_quotes)

{1: -0.35, 2: -0.347, 3: -0.348, 4: -0.35, 5: -0.35, 6: -0.351, 7: -0.351, 8: -0.351, 9: -0.351, 10: -0.351, 11: -0.35, 12: -0.35, 15: -0.35, 18: -0.348, 21: -0.345, 24: -0.34, 36: -0.296, 48: -0.228, 60: -0.139, 72: -0.031, 84: 0.087, 96: 0.205, 108: 0.318, 120: 0.424, 132: 0.519, 144: 0.603, 180: 0.794, 240: 0.959, 300: 1.02, 360: 1.048, 480: 1.061, 600: 1.022, 720: 0.997}